.container {
  display: flex;
}
.half {
  width: 50%;
  padding: 32px;
}
.form-group {
  padding: 8px 0;
}
.invalid {
  border: 1px solid red;
}
.invalid-feedback {
  font-size: 11px;
  color: red;
}
